# Deployment used by `pnpx convex dev`
CONVEX_DEPLOYMENT=dev: 

NEXT_PUBLIC_CONVEX_URL= 

NEXT_PUBLIC_CONVEX_SITE_URL= 

NEXT_PUBLIC_PRIVY_APP_ID= 

PRIVY_APP_SECRET= 

PRIVY_VAULT_ID= 

UPLOADTHING_TOKEN= 